In [2]:
'''
Source: https://medium.datadriveninvestor.com/scraping-live-stock-fundamental-ratios-news-and-more-with-python-a716329e0493

'''

'\nSource: https://medium.datadriveninvestor.com/scraping-live-stock-fundamental-ratios-news-and-more-with-python-a716329e0493\n\n'

In [57]:
import requests
import pandas as pd
from lxml import html
import lxml.html
from lxml import etree
from bs4 import BeautifulSoup as soup
from bs4 import SoupStrainer
from urllib.request import urlopen, Request

In [58]:
# Input symbol
symbol = 'TSLA'

# Set up scraper
url = ("http://finviz.com/quote.ashx?t=" + symbol.lower())
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [59]:
# Locate fundamentals table
fundamentals = pd.read_html(str(html), attrs = {'class': 'snapshot-table2'})[0]
fundamentals.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Index,S&P 500,P/E,1133.02,EPS (ttm),0.62,Insider Own,0.10%,Shs Outstand,959.85M,Perf Week,-1.98%
1,Market Cap,676.45B,Forward P/E,119.10,EPS next Y,5.92,Insider Trans,-39.26%,Shs Float,770.38M,Perf Month,13.90%
2,Income,690.00M,PEG,31.74,EPS next Q,0.79,Inst Own,46.00%,Short Float,6.01%,Perf Quarter,-20.20%
3,Sales,31.54B,P/S,21.45,EPS this Y,165.00%,Inst Trans,0.10%,Short Ratio,1.36,Perf Half Y,67.54%
4,Book/sh,23.37,P/B,30.16,EPS next Y,36.97%,ROA,1.60%,Target Price,650.81,Perf Year,341.15%

In [60]:
# Locate news table
news = pd.read_html(str(html), attrs = {'class': 'fullview-news-outer'})[0]
news.head()

                   0                         1
0  Apr-27-21 10:39PM  Should I Buy Tesla St...
1            10:07PM  Dow Jones Futures: Mi...
2            08:19PM  Nexon Joins Tesla in ...
3            08:14PM  Elon Musk says U.S. S...
4            07:31PM  ARK Invest Stocks To ...

In [62]:
# Locate insider trading table
insider_trading = pd.read_html(str(html), attrs = {'class':'body-table'})[0]
insider_trading.head()

,0,1,2,3,4,5,6,7,8
0,Insider Trading,Relationship,Date,Transaction,Cost,#Shares,Value ($),#Shares Total,SEC Form 4
1,Kirkhorn Zachary,Chief Financial Officer,Apr 19,Sale,718.00,1250,897500,55984,Apr 21 08:23 PM
2,Guillen Jerome M,"President, Heavy Truc...",Apr 12,Option Exercise,55.32,10000,553200,60598,Apr 14 07:13 PM
3,Guillen Jerome M,"President, Heavy Truc...",Apr 12,Sale,697.87,10000,6978659,50598,Apr 14 07:13 PM
4,Taneja Vaibhav,Chief Accounting Officer,Apr 05,Option Exercise,54.67,4090,223586,22279,Apr 07 08:04 PM

In [56]:
pd.read_html(str(html), attrs = {'class':'snapshot-table2'})[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,Index,-,P/E,-,EPS (ttm),-,Insider Own,-,Shs Outstand,-,Perf Week,9.63%
1,Market Cap,-,Forward P/E,-,EPS next Y,-,Insider Trans,-,Shs Float,-,Perf Month,9.68%
2,Income,-,PEG,-,EPS next Q,-,Inst Own,-,Short Float,-,Perf Quarter,5.85%
3,Sales,-,P/S,-,EPS this Y,-,Inst Trans,-,Short Ratio,-,Perf Half Y,113.42%
4,Book/sh,-,P/B,-,EPS next Y,-,ROA,-,Target Price,-,Perf Year,376.78%
5,Cash/sh,-,P/C,-,EPS next 5Y,-,ROE,-,52W Range,7.13 - 47.85,Perf YTD,32.93%
6,Dividend,0.02,P/FCF,-,EPS past 5Y,-,ROI,-,52W High,-13.61%,Beta,-
7,Dividend %,0.05%,Quick Ratio,-,Sales past 5Y,-,Gross Margin,-,52W Low,479.47%,ATR,2.85
8,Employees,-,Current Ratio,-,Sales Q/Q,-,Oper. Margin,-,RSI (14),52.51,Volatility,7.00% 5.96%
9,Optionable,Yes,Debt/Eq,-,EPS Q/Q,-,Profit Margin,-,Rel Volume,0.63,Prev Close,42.21
10,Shortable,Yes,LT Debt/Eq,-,Earnings,-,Payout,-,Avg Volume,19.83M,Price,41.34
11,Recom,-,SMA20,0.26%,SMA50,6.55%,SMA200,51.87%,Volume,12478754,Change,-2.06%

In [ ]:
# Next, need to format above tables...